.journey-picker {
  width: 24rem;
  margin: -2rem auto 0 auto;
  padding: 2rem;

  color: white;
  background-color: #ecb0e1;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
}

.journey-picker__head {
  font-size: 120%;
  font-weight: bold;
}
