.journey-picker {
  width: 24rem;
  margin: -2rem auto 0 auto;
  padding: 2rem;

  color: white;
  background-color: #ecb0e1;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
}

.journey-picker__head {
  font-size: 120%;
  font-weight: bold;
}

.journey-picker__label {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
}

.journey-picker__controls {
  margin-top: 2rem;
  text-align: right;
}

.journey-picker select {
  display: block;
  width: 100%;
}
