header {
  padding-top: 1px;
  height: 305px;
  
  color: white;
  background-color: #69bffc;
  background-image: url(./img/banner.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  margin: 0.5rem 0;
}