@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

select {
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 3px gray;
}

select:focus {
  outline: none;
}

button:not([disabled]),
label {
  cursor: pointer;
}

.btn {
  color: white;
  background-color: #ed6a5a;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  box-shadow: 0 0 3px gray;
  cursor: pointer;
}

.btn:hover {
  background-color: #eb5846;
}

.btn:disabled {
  background-color: lightgray;
  cursor: initial;
}
